<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>

	<title>Professional Sign Up</title>
	<!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 11]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
	<!-- Meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="description" content="" />
	<meta name="keywords" content="">
	<meta name="author" content="Phoenixcoded" />
	<!-- Favicon icon -->
	<link rel="icon" href="{% static 'jkl/images/favicon.ico' %}" type="image/x-icon">

	<!-- vendor css -->
	<link rel="stylesheet" href="{% static 'jkl/css/style.css' %}">




</head>

<!-- [ auth-signup ] start -->
<div class="auth-wrapper">
	<div class="auth-content text-center">
		<div class="card borderless">
			<div class="row align-items-center text-center">
				<div class="col-md-12">
					<div class="card-body">
								<img src="{% static 'jkl/images/logo/skill_hive.png' %}" alt="" class="img-fluid mb-4">
						<h4 class="f-w-400">SkillHiver Sign Up</h4>
						<hr>
						<form action="{% url 'wr_reg_save' %}" method="post">
							{% csrf_token %}
							<div class="form-group mb-3">
							<input type="text" class="form-control" name="wr_uname" placeholder="Username" required>
						</div>
						<div class="form-group mb-3">
							<input type="email" class="form-control" name="wr_em" placeholder="Email address" required>
						</div>
						<div class="form-group mb-3">
							<input type="tel" class="form-control" name="wr_mbl" placeholder="Mobile number" oninput="this.value = this.value.replace(/[^0-9]/g, '').slice(0, 10);" required>
						</div>
						<div class="form-group mb-4">
							<input type="password" class="form-control" name="wr_pass" placeholder="Password" required>
						</div>
						<button type="submit" class="btn btn-primary btn-block mb-4">Sign up</button>
						</form>
						<hr>
						<p class="mb-2">Already have an account? <a href="{% url 'wr_login' %}" class="f-w-400">Signin</a></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- [ auth-signup ] end -->

<!-- Required Js -->
<script src="{% static 'jkl/js/vendor-all.min.js' %}"></script>
<script src="{% static 'jkl/js/plugins/bootstrap.min.js' %}"></script>

<script src="{% static 'jkl/js/pcoded.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
{% for i in messages %}
{% if i.tags == 'warning' %}
<script>
Swal.fire({
  title: "{{i}}",
  showConfirmButton: false,
  icon: "warning",
  timer:1500,
  timerProgressBar: true
});
</script>
{% elif i.tags == 'error' %}
<script>
Swal.fire({
  title: "{{i}}",
  showConfirmButton: false,
  icon: "error",
  timer:1500,
  timerProgressBar: true
});
</script>
{% elif i.tags == 'success' %}
<script>
Swal.fire({
  title: "{{i}}",
  showConfirmButton: false,
  icon: "success",
  timer:1500,
  timerProgressBar: true
});
</script>
{% else %}
<script>
Swal.fire({
  title: "{{i}}",
  showConfirmButton: false,
  icon: "info",
  timer:1500,
  timerProgressBar: true
});
</script>
{% endif %}
{% endfor %}
{% endif %}



</body>

</html>
